/*Universal Selectors*/

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1f1b29;
}

.btn {
    margin: 50px;
    padding: 5px;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
}

button {
    background: none;
    color: #ffff;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

/*----------*/

/*Button 1*/
#Btn1 {
    margin: 75px 0 100px 0;
}

#Button1 {
    color: #ff8f40;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#Button1:hover,
#Button1:focus {
    border-color: #f1ff5c;
    border-radius: 10px;
    color: #ffff;
    box-shadow: 0 0.5em 0.9em -0.3em #f1ff5c;
    transform: translateY(-0.5em);
    text-shadow: 0.1em 0.1em 1em #33FFF4;
    transition: border-radius 0.8s, transform 0.5s, text-shadow 2s;
    cursor: pointer;

}

/*----------*/