* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffff;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #00A890;
}

a:hover {
    color: #56cfe1;
    font-size: larger;
}

a.googlemaps-link:hover {
    font-size: medium;
}

th {
    font-weight: 100;
    font-size: smaller;
    padding: 0 15px 0 15px;
    background-color: #232F3E;
    color: #ffff;
    font-style: italic;
}

li {
    font-weight: bold;
    padding-bottom: 20px;
}

table {
    padding-top: 10px;
}

td {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

td.itemdata {
    color: #00A890;
}

#HeaderForm {
    padding-bottom: 20px;

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.googlemaps-img {
    width: 150px;
    height: 75px;
    border-radius: 20%;
}

.googlemaps-img:hover {
    width: 400px;
    height: 200px;
}

#InventoryChoice {
    padding: 20px 0 20px 0;
}

.headFormButton {
    background-color: #232F3E;
    color: #ffff;
    font-size: large;
    font-weight: bold;
}

.headFormButton:hover {
    color: aliceblue;
}

#Infra {
    padding-top: 20px;
}

#Mdf {

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#Idf {

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    padding-top: 5px;
}

#Wifi {

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    padding-top: 5px;
}

#Devices {

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    padding-top: 5px;
}

#CleanUp {
    padding-top: 20px;
}

.profilePic {
    width: 33px;
    height: 30px;
    border-radius: 15%;
}

.profilePic:hover {
    width: 133px;
    height: 130px;
}